pkgbase = gam
	pkgdesc = Command line tool for Google Apps Administrators to manage domain and user settings; patched for managed installation
	pkgver = 3.61
	pkgrel = 3
	url = https://github.com/jay0lee/GAM
	arch = any
	license = Apache
	depends = python2
	source = https://github.com/jay0lee/GAM/archive/v3.61.tar.gz
	md5sums = fee7583241012ca326361be7b47cd979

pkgname = gam

